.form {
  display: flex;
  flex-direction: column;
}

.question {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 0 0 10px 0;
}

.askee {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 0 0 10px 0;
}

.statusSaveContainer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.status {
  align-items: stretch;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding: 0 5px 0 0;
}

.save {
  flex-grow: 1;
  padding: 0 0 0 5px;
}

.saveButton {
  height: 50px;
  width: 100%;
}
