.list-of-questions {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: stretch;
}

.list-of-questions__question {
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 5px 10px;
}
